* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ces.ces.acx -text
/apertium-ces.ces.dix -text
/apertium-ces.ces.rlx -text
/apertium-ces.pc.in -text
/apertium-ces.post-ces.dix -text
/autogen.sh -text
/ces.prob -text
/configure.ac -text
/modes.xml -text
